<template name="chat-item.html">
    <div class="list-group-item">
        <div class="row-action-primary">
            <img class="circle" ng-src="[[item.author.picture]]" alt=""/>
        </div>
        <div class="row-content">
            <div class="least-content" am-time-ago="item.timestamp"></div>
            <h4 class="list-group-item-heading" ng-bind="item.author.name"></h4>

            <p class="list-group-item-text" ng-bind-html="item.message | nl2br"></p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</template>

